/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
:root {
	--ion-color-primary: #15304d;
	--ion-color-primary-rgb: 21,48,77;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #122a44;
	--ion-color-primary-tint: #2c455f;
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}
:root {
	--ion-color-secondary: #01a6fe;
	--ion-color-secondary-rgb: 1,166,254;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #0192e0;
	--ion-color-secondary-tint: #1aaffe;
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}
:root {
	--ion-color-like: #ff0000;
	--ion-color-like-rgb: 255,0,0;
	--ion-color-like-contrast: #ffffff;
	--ion-color-like-contrast-rgb: 255,255,255;
	--ion-color-like-shade: #e00000;
	--ion-color-like-tint: #ff1a1a;
}

.ion-color-like {
	--ion-color-base: var(--ion-color-like);
	--ion-color-base-rgb: var(--ion-color-like-rgb);
	--ion-color-contrast: var(--ion-color-like-contrast);
	--ion-color-contrast-rgb: var(--ion-color-like-contrast-rgb);
	--ion-color-shade: var(--ion-color-like-shade);
	--ion-color-tint: var(--ion-color-like-tint);
}